<form action="/mylist" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to My List</button>
    <input type="hidden" name="movieId" value="<%= movie._id %>">
</form>